@font-face {
    font-family: 'AvenirBook';
    src: url('../fonts/AvenirLTProBook.otf') format("opentype");
  }
@font-face {
    font-family: 'AvenirLight';
    src: url('../fonts/AvenirLTProLight.otf') format("opentype");
}
@font-face {
    font-family: 'AvenirMedium';
    src: url('../fonts/AvenirLTProMedium.otf') format("opentype");
}

@font-face {
    font-family: 'RoganLight';
    src: url('../fonts/Rogan-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'RoganMedium';
    src: url('../fonts/Rogan-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'RoganRegular';
    src: url('../fonts/Rogan-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothmamMedium.otf') format('opentype');
}
/* body {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} */
.transition-1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background-color: white ;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-out;
  }
  
  .transition-1.is-active {
    pointer-events: all;
    opacity: 1;
  }

body {
    line-height: 1.0;
    min-height: 100vh;
    min-width: 320px;
    overflow-x: hidden;
    word-wrap: break-word;
    margin: 0px;
    font-family: 'RoganRegular';
   

}
nav{
    font-family: 'AvenirLight';
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
 text-decoration: none;   
 color:black;
}
#never{
    border: solid 1px rgb(255 255 255 / 21%);
}
#wrapper{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
.scrolled{
    position: fixed;
    z-index: 25;
    top: 0px;
    font-size: 12px!important;
    width: 100%;

}
.scrolled div div{
    font-size: 21px!important;
    color: #2e2d2d;
}
.little{
    padding-top: 100px!important;
    margin-top: -35px;
}
.nav_li a:hover::before,.nav_li a:hover::after{
    opacity: 1;
    width: 100%;
}
.current a::after{
    opacity: 1!important;
    width: 100%!important;
}
.nav_li a::before, .nav_li a::after{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 1px;
    content: '';
    background: #7e7e7e;
    transition: all 0.3s;
}
.nav_li a::before{
    left: 0px;
    top: -3px;
}
.nav_li a::after{
    right: 0px;
    bottom: -3px;
}

#main{
    align-items: center;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    max-width: 100%;
    position: relative;
    text-align: center;
    z-index: 1;
    /* transition: opacity 2s ease-in-out 0s; */
}
.inner{
    border-radius: inherit;
    max-width: 100%;
    position: relative;
    width: 75rem;
    z-index: 1;
    padding: 4rem;    
    padding-top: 130px;
    
}
#image{
    border-radius: 0 !important;
    max-width: 100vw;
    position: relative;
    width: 100vw;
    left: 50%;
    margin-left: -50vw;
    right: auto;
    height: 42rem;
}
#image img{
    object-fit: cover;
    object-position: center;
    width: 100% !important;
    height: 100%;
   
}

nav{
    height: 130px;
    width: 100%;
    position: fixed;
    color: black;
    background-color: white;
    z-index: 10;
    display: grid;
    grid-template-columns: 35% 65%;
}
#navleft, #navright{
    display: flex;
    flex-direction: row;
}
#navleft div{
    font-size: 24px;
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 54px;
    font-family: 'AvenirMedium';
}
#navleft div:hover{
    color: black;
    cursor: pointer;
}
#navdiv{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: 18px;
    margin-left: auto;
}
#nav_ul{
    text-align: center;
    display: flex;
    justify-content: center;
    padding-left: 0px;
    height: 100%;
    font-size: 16px;

}
.nav_li{
    position: relative;
    box-sizing: border-box;
    overflow: visible;
    visibility: inherit;
    list-style-type: none;
    float: left;
    margin: auto;
    margin-right: 23px;
}
section{
    margin-top: 48px;
    letter-spacing: 1.2px;
}
.section_cim h1{
    text-transform: uppercase;
    color: rgb(27, 27, 27);
    font-size: 28px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
}
.section_belso{
    margin-top: 72px;
    display: grid;
    grid-template-columns: 30% 70%;
}
.section_belso_belso{
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-self: end;
    text-align: left;
}
.section_belso_kep div img{
    width: 400px;
    border-radius: 0.375rem;
}
section h2{
    font-weight: 400!important;
    font-size: 27px;

}
.section_belso_szoveg{
    color: #3d3f40;
    line-height: 1.3;
    margin-bottom: 50px;
    font-size: 18px;
}

section hr, .inner hr{
    border: 0;
    margin: 0;
    width: 100%;
    border-top: 1px solid #d7cdcd;
    color: rgb(27, 27, 27);
}








.loading-screen {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: #ffffff;
    width: 100%;
    opacity: 1;
    height: 100%;
}

.load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
}


