{% load static %}
{% load filter %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>

       <!-- Jquery -->
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

       <!-- CSS -->
       <link rel="stylesheet" href="{% static 'css/main.css' %}" />   

       <!-- Javascript -->
        <script src="{% static 'js/global.js' %}"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:wght@500&family=Cormorant+SC:wght@700&family=Edu+NSW+ACT+Foundation:wght@500&family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        {% csrf_token %} 
        <nav>
            <div id="navleft">
                <div style="margin:auto">Polar Design</div>
            </div>
            <div id="navdiv">
                <ul id="nav_ul">
                    <li class="nav_li"><a href="{{ domain }}/">Főoldal</a></li>
                    <li class="nav_li"><a href="{{ domain }}/">Szolgáltatások</a></li>
                    <li class="nav_li"><a href="{{ domain }}/">Rólunk</a></li>
                    <li class="nav_li"><a href="{{ domain }}/">Kapcsolat</a></li>
                    {% if user.is_staff %}
                    <li class="nav_li"><a href="{{ domain }}/admin">Admin</a></li>
                    {% endif %}
                    
                </ul>
            </div>
            <!-- <div id="navright">
                {% if user.is_staff %}
                <span>Üdv <a href="{{ domain }}/profil"> {{request.user}}</span>!</a>
                {% endif %}
            </div> -->
        </nav>
        <div id="main">

            <div class="inner">
                <div id="image">
                        <img src="https://assets.architecturaldigest.in/photos/60084bc8d0435267a8df97f8/16:9/w_2560%2Cc_limit/The-Drawing-Studio-mumbai-interior-design_2-1366x768.jpg" alt="">
                </div>
                <div class="nev">
                    <div class="belsonev">
                        <h1>Polar Design</h1>
                        <p>Lorem ipsum dolor sit amet   </p>

                    </div>
                </div>
                <div class="sectionjelzo">
                    <div class="sectionbelso">
                            Projektek
                    </div>
                </div>
                <hr id="lehuzo">
                <div id="projektcontainer">
                    <div class="projektbelso">
                        <div class="projektflex">
                            <ul id="grid">
                                {% for item in projects %}
                                {% if item.public %}
                                <li>
                                    <a href="/projekt/{{item.név}}">
                                        <div class="kepitem">
                                            <div style="background-image: url(' {{item.url}}');" class="keptarto">
                                                <div class="desc">
                                                    {{item.név}}
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                {% endif %}
                                {% endfor %}
                                
                                {% for item in projects %}
                                {% if item.public|is_false %}
                                <li>
                                    <a href="/projekt/{{item.név}}">
                                        <div class="kepitem">
                                            <div style="background-image: url(' {{item.url}}');" class="keptarto private">
                                                <div class="desc">
                                                    {{item.név}}
                                                    <br>(Nem nyilvános)
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
                
        </div>
    </div>
</body>
</html>