{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />   
    <link rel="stylesheet" href="{% static 'css/projekt.css' %}" />   

    <!-- Javascript -->
    <script src="{% static 'js/projekt.js' %}"></script>
    <script src="{% static 'js/global.js' %}"></script>
    <script src="{% static 'ckeditor/build/ckeditor.js' %}"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:wght@500&family=Cormorant+SC:wght@700&family=Edu+NSW+ACT+Foundation:wght@500&family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter:400,400italic%7CInter:300,300italic,600,600italic" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
        body::before{
            background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cfilter%20id%3D%22noise%22%3E%3CfeTurbulence%20type%3D%22fractalNoise%22%20baseFrequency%3D%220.875%22%20result%3D%22noise%22%20%2F%3E%3CfeColorMatrix%20type%3D%22matrix%22%20values%3D%220.99609375%200%200%200%200%200%200.99609375%200%200%200%200%200%200.99609375%200%200%200%200%200%200.25%200%22%20%2F%3E%3C%2Ffilter%3E%3Crect%20filter%3D%22url%28%23noise%29%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22512%22%20height%3D%22512%22%20fill%3D%22transparent%22%20opacity%3D%221%22%20%2F%3E%3C%2Fsvg%3E), linear-gradient(146deg, rgba(255,239,219,0.31) 0%, rgba(166,223,255,0.141) 100%), url({{projekt.url}})!important;
        }
    </style>

</head>
<body>
    <div id="wrapper">
        {% csrf_token %} 
        <nav>
            <div id="navleft">
                <div>Polar Design</div>
            </div>
            <div id="navdiv">
                <ul id="nav_ul">
                    <li class="nav_li"><a href="{{ domain }}/">Főoldal</a></li>
                    <li class="nav_li"><a href="{{ domain }}/portfolio">Portfolio</a></li>
                    <li class="nav_li"><a href="{{ domain }}/szolgaltatasok">Szolgáltatások</a></li>
                    <li class="nav_li"><a href="{{ domain }}/kapcsolat">Kapcsolat</a></li>
                    {% if user.is_staff %}
                    <li class="nav_li"><a href="{{ domain }}/admin">Admin</a></li>
                    {% endif %}
                    
                </ul>
            </div>
        </nav>
        
        <div id="main">
            <div class="inner">
                <div id="image">
                    <img src="{{projekt.url}}" alt="">
                </div>
            </div>
        </div>
        <!--<div class="overlay">
            <div class="overlayimagediv">
                <img src="http://www.dekon.hu/storage/app/uploads/public/f51/d38/01c/thumb__1920_1080_0_0_auto.jpg" alt="" id="overlayimage">
            </div>
            <div id="close">
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="white" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                  </svg>
            </div>
        </div>
         {% if user.is_staff %}
            <div id="adminbar">
                <div class="tools" onclick="modositas()">Projekt szerkesztése</div>
            </div>
            <form action="." id="form" method="POST">
            {{ form.media }}
            {% csrf_token %}
                <div id="modositoform">
                    <div class="modositas">
                        <div class="modositobelso">
                            <div class="modositobelso_belso">
                                
                                <label>Cím</label>
                                <input type="text" id="ujcim" value="{{projekt.név}}" name="cim">
                                <label>Leírás</label>
                                <div id="editor"></div>
                                <script>
                                    let theEditor;
                                    ClassicEditor
                                    .create(document.querySelector('#editor'))
                                    .then(editor => {
                                        theEditor = editor;
                                        theEditor.setData('{{projekt.leiras|safe}}');
                                        
                                    })
                                    .catch(error => {
                                        console.error(error);
                                    });
                                    function getDataFromTheEditor(){
                                        return theEditor.getData();
                                    }

                                </script>
                                <input type="hidden" value="" id="leiras" name="leiras">
                                <label>Kép</label>
                                <input type="url" id="ujkep" value="{{projekt.url}}" name="url">
                                <div class="buttonflex">
                                    <div class="projekttobb bezar alsogomb" onclick="bezar()">Mégse</div>
                                    <div class="projekttobb ment alsogomb" onclick="mentes()">Mentés</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            {% endif %} -->
    </div>
</body>
</html>